---
- name: install packages
  apt:
    name:
      - git
      - cmake
      - mono-complete
      - npm
      - python3-pip
      - powerline
      - fonts-powerline
      - vim
      - tmux
      - zsh
    state: present
    update_cache: true

- name: install oh-my-zsh
  shell:  sh -c '$(wget -O - "{{ zsh_url }}")'

- name: set zsh as default shell
  shell: chsh -s $(which zsh)

- name: clone zsh syntax highlighting repo
  git:
    repo: 'https://github.com/zsh-users/zsh-syntax-highlighting.git'
    depth: 1
    dest: /home/{{ ansible_user }}/.zsh-syntax-highlighting

- name: set default zshrc file
  copy:
    src: zshrc
    dest: /home/{{ ansible_user }}/.zshrc
    mode: '0700'
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"

- name: set default tmux config file
  copy:
    src: tmux.conf
    dest: /home/{{ ansible_user }}/.tmux.conf
    mode: '0700'
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
