---
- name: install packages
  apt:
    name:
      - git
      - cmake
      - mono-complete
      - npm
      - python3-pip
      - powerline
      - fonts-powerline
      - vim
      - tmux
      - zsh
    state: present
    update_cache: true
  tags: ['pkg_install']


- name: Check if .zshrc exists
  stat:
    path: ~/.zshrc
  register: stat_rc_result

- name: check if .oh-my-zsh exists
  stat:
    path: ~/.oh-my-zsh
  register: stat_oh_my_zsh_result

- name: check if .zsh-syntax-higlighting exists
  stat:
    path: ~/.zsh-syntax-highlighting
  register: stat_zsh_syntax_result

- name: clone oh-my-zsh repository
  git:
    repo={{ zsh_url }}
    dest=~/.oh-my-zsh
  when: not stat_oh_my_zsh_result.stat.exists

- name: set zsh as default shell
  shell: chsh -s $(which zsh)
  become: true

- name: clone zsh syntax highlighting repo
  git:
    repo: 'https://github.com/zsh-users/zsh-syntax-highlighting.git'
    depth: 1
    dest: /home/{{ ansible_user }}/.zsh-syntax-highlighting
  when: not stat_zsh_syntax_results.stat.exists

- name: set default zshrc file
  copy:
    src: zshrc
    dest: /home/{{ ansible_user }}/.zshrc
    mode: '0700'
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
  when: not stat_rc_result.stat.exists

- name: set default tmux config file
  copy:
    src: tmux.conf
    dest: /home/{{ ansible_user }}/.tmux.conf
    mode: '0700'
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
